<div class="modal-header">
  <h4 class="modal-title pull-left">Error Retrieving Data</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  There was an error Retrieving data for {{ title }}. Page will be redirected to Forecasts List upon closing the modal.
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
</div>
