<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Weather Forecasting</h1>
    </div>
  </div>
  <div class="row">
    <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
      <div class="list-group">
        <a *ngFor="let forecastData of forecasts"  class="list-group-item list-group-item-action d-flex gap-3 py-3" (click)="navigateTo(forecastData.id)">
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0">{{forecastData.title}} Forecast</h6>
              <p class="mb-0 opacity-75">Forecast information will be retrieved for {{ forecastData.abbreviation }}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
